/* Style sheet for the main page*/

/* General Styles */
h1, h2, h3, h4, h5, h6, p {
  font-family: Lato, sans-serif;
}

/* Particle Background */
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

/* Top navigation */

.left li a:hover {
  font-weight: bold;
}

/* Main Content Styling */
#content-container {
  margin-top: 35px;
}

/* Left hand detail container row */
#detail-head-buffer {
}

#detail-container {
}

.detail-container-column {
}

.detail-content {
  height: 200px;
  margin: 10px 0px 0px;
}

/* Right hand grid styling */
#grid-head-buffer {
}

/* Grid container row */
#grid-container {

}

.grid-content {
  width: auto;
  padding: auto;
}

/* Flipper styling */
.flip-container {
  margin: 10px;
  float: left;
}


.front, .back {
  padding: 10px;
  text-align: center;
}

.front {
  background-color: rgba(204,204,204, 0.5); /* #333; */
  background-repeat: no-repeat;
  background-position: center;
}

.front h1 {
  font-size: 18pt;

  opacity: 1.0;
}

.front-text-container {
  padding: 5px; 
  background-color:rgba(204,204,204, 0.5)  
}

.front h2 {
  opacity: 1.0;
}

/* Card flipping */

/* Flipper css. Reference: http://davidwalsh.name/css-flip */

/* The container keeps the perspective */
.flip-container {
  -webkit-perspective: 1000;
  -moz-persective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;

  -moz-transform: perspective(1000px);
  -ms-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}

/* flip the pane when clicked */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotateY(180deg);
}

/* Flip piece size */
.flip-container.card, .front.card, .back.card {
  box-sizing:border-box;
  width: 200px;
  height: 200px;
}

/* Flip speed */
.flipper {
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;

  position: relative;
}


/* Hide the back when swapping */
.front, .back { 
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above the pack pane to start */
.front {

  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);

  z-index: 2;
}

/* Hide the back pane initially */
.back {

  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);

  -webkit-transition: 0.6s;
  -moz-transform: 0.6s;
  -ms-transform: 0.6s;

}

// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */